<!-- for more effects see _animate.scss -->
<h1 class="animated bounceInDown">
    <div id="headerbg">
        {{ .Site.Title }}
<!-- CSS -->
 <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.css">
    </div>
</h1>
{{ $theme := .Site.Params.theme }}
<span class="subtitle">{{ if $theme.subtitle }}{{ $theme.subtitle }}{{ end }}</span>
<br>

 
{{ with $theme }}
{{ partial "social.html" (dict "theme" .) }}
{{ end }}

{{ partial "navigation.html" . }}
